{% extends 'engine/templates/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
  <meta name="description" content="Create A Joke">
  <title>Joke Rater | Create Joke</title>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="card mb-4 mx-auto">
      <div class="card-body">
        <h3 class="display-4">New Joke</h3>
        <div class="container-fluid">
          <form action="/create/" method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form | crispy }}
            </div>
            <input class="my-1 btn btn-outline-primary" type="submit" value="Submit" />
          </form>
        </div>
      </div>
    </div>  
  </div>
{% endblock %}
